In [6]:
import boto3
import sagemaker

session = boto3.session.Session()
region = session.region_name
sagemaker_session = sagemaker.Session()
bucket = sagemaker_session.default_bucket()

s3 = boto3.Session().client(service_name="s3", region_name=region)

In [7]:
import pandas as pd

import csv

df4 = pd.read_csv(
    "s3://sagemaker-studio-938981654669-ye8ruwkjoma/GoldenDrive/Data/df4_sampled.csv"
)
df4.shape

(11159, 41)

In [8]:
df8 = pd.read_csv(
    "s3://sagemaker-studio-938981654669-ye8ruwkjoma/GoldenDrive/Data/df8_sampled.csv"
)
df8.shape

(11159, 82)

In [9]:
df12 = pd.read_csv(
    "s3://sagemaker-studio-938981654669-ye8ruwkjoma/GoldenDrive/Data/df12_sampled.csv"
)
df12.shape

(11159, 122)

In [10]:
df_HOV = pd.read_csv(
    "s3://sagemaker-studio-938981654669-ye8ruwkjoma/GoldenDrive/Data/HOV (1).csv"
)
df_HOV.shape

(109, 17)

In [11]:
df_TVA = pd.read_csv(
    "s3://sagemaker-studio-938981654669-ye8ruwkjoma/GoldenDrive/Data/Traffic_Volumes_AADT (2).csv"
)
df_TVA.shape

(7114, 15)

In [12]:
df4.head()

,Unnamed: 0,68.7000.119,62.6000.104,63.3000.94,68.7000.84,61.8000.15,67.2000.44,68.1000.176,62.9000.142,68.1000.135,...,61.8000.7,65.3000.21,66.3000.4,65.7000.66,69.2000.54,67.3000.4,60.4000.55,68.9000.176,60.2000.44,67.9000.129
0,0,68.7,62.6,63.3,68.7,61.8,67.2,68.1,62.9,68.1,...,61.8,65.3,66.3,65.7,69.2,67.3,60.4,68.9,60.2,67.9
1,1,68.7,62.6,63.3,68.7,61.8,67.2,68.1,62.9,68.1,...,61.8,65.3,66.3,65.7,69.2,67.3,60.4,68.9,60.2,67.9
2,2,68.7,62.6,63.3,68.7,61.8,67.2,68.1,62.9,68.1,...,61.8,65.3,66.3,65.7,69.2,67.3,60.4,68.9,60.2,67.9
3,3,68.7,62.6,63.3,68.7,61.8,67.2,68.1,62.9,68.1,...,61.8,65.3,66.3,65.7,69.2,67.3,60.4,68.9,60.2,67.9
4,4,64.8,62.8,63.3,64.9,57.6,64.9,64.5,65.4,68.1,...,59.2,62.1,60.4,61.7,64.0,63.2,67.5,64.8,65.1,64.8

In [13]:
df8.head()

,Unnamed: 0,69.4000.50,69.0000.167,68.2000.308,62.6000.117,67.9000.71,68.8000.137,67.7000.37,61.4000.7,68.3000.93,...,69.5000.143,63.0000.105,56.3000.7,60.0000.29,68.9000.310,62.6000.247,60.0000.41,66.0000.30,65.5000.96,69.1000.298
0,0,69.4,69.0,68.2,62.6,67.9,68.8,67.7,61.4,68.3,...,69.5,63.0,56.3,60.0,68.9,62.6,60.0,66.0,65.5,69.1
1,1,69.4,69.0,68.2,62.6,67.9,68.8,67.7,61.4,68.3,...,69.5,63.0,56.3,60.0,68.9,62.6,60.0,66.0,65.5,69.1
2,2,69.4,69.0,68.2,62.6,67.9,68.8,67.7,61.4,68.3,...,69.5,63.0,56.3,60.0,68.9,62.6,60.0,66.0,65.5,69.1
3,3,69.4,69.0,68.2,62.6,67.9,68.8,67.7,61.4,68.3,...,69.5,63.0,56.3,60.0,68.9,62.6,60.0,66.0,65.5,69.1
4,4,64.7,69.0,63.0,62.6,65.5,65.4,65.5,64.0,68.3,...,63.8,65.9,60.8,64.1,64.8,63.8,60.9,65.1,63.5,69.1

In [14]:
df12.head()

,Unnamed: 0,64.4000.70,62.5000.370,63.8000.55,66.8000.110,63.8000.9,69.5000.67,63.4000.260,66.7000.139,68.5000.475,...,67.3000.89,68.2000.331,64.0000.83,49.7000.2,68.0000.413,60.3000.25,63.6000.173,68.4000.277,62.8000.354,62.2000.114
0,0,64.4,62.5,63.8,66.8,63.8,69.5,63.4,66.7,68.5,...,67.3,68.2,64.0,49.7,68.0,60.3,63.6,68.4,62.8,62.2
1,1,64.4,62.5,63.8,66.8,63.8,69.5,63.4,66.7,68.5,...,67.3,68.2,64.0,49.7,68.0,60.3,63.6,68.4,62.8,62.2
2,2,64.4,62.5,63.8,66.8,63.8,69.5,63.4,66.7,68.5,...,67.3,68.2,64.0,49.7,68.0,60.3,63.6,68.4,62.8,62.2
3,3,64.4,62.5,63.8,66.8,63.8,69.5,63.4,66.7,68.5,...,67.3,68.2,64.0,49.7,68.0,60.3,63.6,68.4,62.8,62.2
4,4,64.4,62.5,60.5,64.1,64.8,65.0,63.4,66.4,68.5,...,65.4,64.2,58.6,54.8,68.0,64.6,61.6,68.4,51.1,60.6

In [16]:
df_HOV.head()

,OBJECTID,District,Route,Direction,Begin_County,Begin_Post_Mile,End_County,End_Post_Mile,Begin_Abs_Post_Mile,End_Abs_Post_Mile,Description,Length__Lane_Miles_,Occupancy_Requirement,Hours_of_Operation,Segment_Opening_Date,Comments,Shape_Length
0,1,3,50,EB,SAC,R5.371,ED,5.834,11.005,34.632,Watt Ave to Cameron Park Dr,23.627,2+,M-F 06:00-10:00 and 15:00-19:00,Watt Ave to Sunrise Blvd - Dec 2011; Sunrise B...,NaN,48659.155980
1,2,3,80,EB,SAC,M0.767,PLA,4.718,84.691,106.237,West El Camino Ave to SR-65,21.546,2+,M-F 06:00-10:00 and 15:00-19:00,Yolo Co Line to Longview Dr - Dec 2016; Longvi...,NaN,44432.185806
2,3,4,80,EB,SOL,0.504,SOL,0.673,27.995,28.164,Carquinez Bridge Toll Plaza,0.255,3+,M-F 05:00-10:00 and 15:00-19:00,"Opened; W/O Toll Plaza to E/O Toll Plaza, 07/3...",2-Seat Vehicles with 2 Persons Permitted; Toll...,348.131415
3,4,4,80,EB,SOL,R11.485,SOL,19.594,38.976,47.096,Red Top Road to Air Base Pkwy,8.120,2+,M-F 05:00-10:00 and 15:00-19:00,"Opened; Red Top Road to E/O Air Base Pkwy., 11...",NaN,16660.846138
4,5,7,10,EB,LA,30.995,LA,48.265,29.495,46.765,I-605 to San Bernardino County Line,17.270,2+,24 Hr,Rte 605 to 0.6 mi west of Puente Ave (Francisq...,Continues into San Bernardino County,33527.727027

In [17]:
df_TVA.head()

,OBJECTID,DISTRICT,ROUTE,RTE_SFX,COUNTY,PM_PFX,PM,PM_SFX,DESCRIPTION,BACK_PEAK_HOUR,BACK_PEAK_MADT,BACK_AADT,AHEAD_PEAK_HOUR,AHEAD_PEAK_MADT,AHEAD_AADT
0,1,12.0,1,NaN,ORA,R,0.129,NaN,"DANA POINT, JCT. RTE. 5",NaN,NaN,NaN,4250.0,42000.0,38250.0
1,2,12.0,1,NaN,ORA,R,0.780,NaN,"DANA POINT, DOHENY PARK ROAD",4250.0,42000.0,38900.0,4350.0,43500.0,38900.0
2,3,12.0,1,NaN,ORA,R,1.077,NaN,BREAK IN RTE,NaN,NaN,NaN,NaN,NaN,NaN
3,4,12.0,1,NaN,ORA,NaN,8.430,NaN,"LAGUNA BEACH, MOUNTAIN ROAD",3200.0,40500.0,37900.0,3200.0,40500.0,37900.0
4,5,12.0,1,NaN,ORA,NaN,9.418,NaN,"LAGUNA BEACH, JCT. RTE. 133 NORTH",3400.0,43000.0,38800.0,3850.0,43000.0,38800.0

In [28]:
df4.dtypes

Unnamed: 0       int64
68.7000.119    float64
62.6000.104    float64
63.3000.94     float64
68.7000.84     float64
61.8000.15     float64
67.2000.44     float64
68.1000.176    float64
62.9000.142    float64
68.1000.135    float64
68.9000.111    float64
63.2000.88     float64
65.1000        float64
67.9000.55     float64
68.1000.15     float64
68.0000.92     float64
69.0000.75     float64
66.6000.19     float64
68.2000.142    float64
69.1000.96     float64
66.3000.13     float64
67.5000.33     float64
69.0000.125    float64
65.1000.38     float64
62.2000.29     float64
66.7000.30     float64
68.4000.1      float64
62.9000.61     float64
67.2000.13     float64
65.4000.64     float64
69.6000.3      float64
61.8000.7      float64
65.3000.21     float64
66.3000.4      float64
65.7000.66     float64
69.2000.54     float64
67.3000.4      float64
60.4000.55     float64
68.9000.176    float64
60.2000.44     float64
67.9000.129    float64
dtype: object

In [29]:
df8.dtypes

Unnamed: 0       int64
69.4000.50     float64
69.0000.167    float64
68.2000.308    float64
62.6000.117    float64
                ...
62.6000.247    float64
60.0000.41     float64
66.0000.30     float64
65.5000.96     float64
69.1000.298    float64
Length: 82, dtype: object

In [30]:
df12.dtypes

Unnamed: 0       int64
64.4000.70     float64
62.5000.370    float64
63.8000.55     float64
66.8000.110    float64
                ...
60.3000.25     float64
63.6000.173    float64
68.4000.277    float64
62.8000.354    float64
62.2000.114    float64
Length: 122, dtype: object

In [31]:
import seaborn as sns

In [ ]:
sns.pairplot(df_TVA)
plt.show()